force-app/main/default/flows/MfaDeregister.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DeregisterMethod</name>
        <label>Deregister Method</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MfaDeregister</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Deregistered</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>method</name>
            <value>
                <elementReference>Methods</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MfaDeregister</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>GetRegisteredMethods</name>
        <label>Get Registered Methods</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MfaGetRegisteredMethods</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CountMethods</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MfaGetRegisteredMethods</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>MfaMethods</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CountMethods</name>
        <label>Count Methods</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MethodCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MfaMethods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HasMethods_Decision</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>HasMethods_Decision</name>
        <label>Has Methods?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NoRegisteredMethods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MethodCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YourMethods</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MfaMethodsChoice</name>
        <collectionReference>MfaMethods</collectionReference>
        <dataType>String</dataType>
        <displayField>name</displayField>
        <object xsi:nil="true"/>
        <valueField>name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>MfaDeregister {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MfaDeregister</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Deregistered</name>
        <label>Deregistered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetRegisteredMethods</targetReference>
        </connector>
        <fields>
            <name>DeregisteredR</name>
            <fieldText>&lt;p&gt;Your {!Methods} registration has been removed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRegisteredMethods</name>
        <label>No Registered Methods</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRegisteredMethodsR</name>
            <fieldText>&lt;p&gt;You do not have any registered methods. Logout and login again to register one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>YourMethods</name>
        <label>Your Methods</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DeregisterMethod</targetReference>
        </connector>
        <fields>
            <name>Methods</name>
            <choiceReferences>MfaMethodsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Methods</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRegisteredMethods</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MethodCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MfaMethods</name>
        <apexClass>MfaMethod</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
